@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --w-h-ratio: calc(1vw/1vh);
  --h-w-ratio: calc(1vh/1vw);
  --text-color: var(--bs-black);
  --title-text-color: var(--bs-black);
  --text-accent-color: var(--bs-primary);
  --text-second-accent-color: var(--bs-blue);
  --shadow-color: var(--bs-black);
  --transparent-bg-color: rgba(
    255,
    255,
    255,
    min(calc(0.6 / var(--w-h-ratio) - 0.18), 1)
  );
  --titlecard-color: #ccebff;
}

.navbar > .container-fluid {
  margin: 0 5vw;
  height: 5.5vh;
}

#titlecard {
  color: var(--title-text-color);
  min-height: calc(45vh + 2rem);
  position: relative;
  overflow: hidden;
  margin: 0;
  background: var(--bs-primary);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    var(--titlecard-color) 85%
  );
}

#titlecard-img {
  height: calc(50vh + (7vw));
  position: absolute;
  bottom: 50%;
  left: calc(50%);
  z-index: 0;
  transform: translate(calc(-50% + 25vw), +50%);
}

.title {
  position: absolute;
  z-index: 1;
  margin: 0.5rem;
}

.text {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 150%;
  font-style: normal;
  color: var(text-color);
}

p.text.title {
  padding: 1rem 3rem;
  background-color: var(--transparent-bg-color);
  border-radius: 1rem;
}

p.text {
  padding: 1rem;
}

#big-title {
  position: relative;
  font-size: 400%;
  font-family: "Dela Gothic One", sans-serif;
  font-style: normal;
  z-index: 43;
  padding: 1rem 3rem;
  background-color: var(--transparent-bg-color);
  border-radius: 1rem;
}

#big-title > i {
  color: var(--text-accent-color);
}

h1.section-title {
  color: var(--text-second-accent-color);
  position: relative;
  font-family: "Dela Gothic One", sans-serif;
  font-style: normal;
  text-align: center;
  padding-bottom: 0.75rem;
}

#map {
  border-radius: 2rem;
  min-height: 40vh;
}

.page-section {
  padding: -1rem 4rem 2rem 4rem;
  border-radius: 2rem;
}

.section-group {
  margin: 1rem 1rem;
  border-radius: 2rem;
}

.instruction {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(text-color);
  margin-top: 0rem;
  margin: 0rem;
}

.popup-text {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 100%;
  font-style: normal;
  color: var(text-color);
}

.video > div > div > iframe {
  border-radius: 1rem;
}

#galleryCarousel {
  border-radius: 1rem;
}

.QR {
  position: relative;
  top: 0;
}

.qr-text {
  align-self: center;
  justify-self: center;
}
